        /* Global Styles */

        h1 {
            color: #FFF;
            background-clip: text, padding-box;
            transition: 0.5s;
        }

        h1:hover {
            color: rgb(99, 99, 99);
        }

        body {
            height: 100vh;
            margin: 0;
            display: grid;
            place-content: center;
        }

        h1 {
            font-family: system-ui, sans-serif;
            font-size: 3rem;
            cursor: pointer;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /* Login Page Styles */
        .login-page {
            background-image: url(../static/background.jpg);
            background-size: cover;
        }

        .login-container {
            max-width: 300px;
            margin: 100px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }