<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Intelligent Security Surveillance Camera</h1>
    <form action="/home" method="POST">
        <label for="user">
            Name: 
            <input type="text" name="user" id="user">
        </label> <br>
        <label for="pass">
            Password:
            <input type="password" name="pass" id="pass">
        </label> <br>
        <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>