<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
</head>
<body>
    <h1>Video</h1>
    <h3>Welcome, {{user}}</h3>
    <form action="/video" method="POST">
        <input type="radio" name="mode" id="object">
        <label for="object">Object Detection</label><br>
        <input type="radio" name="mode" id="fall">
        <label for="fall">Fall Detection</label><br>
        <input type="radio" name="mode" id="accident">
        <label for="accident">Vehicle Accident</label><br>
        <input type="radio" name="mode" id="distancing">
        <label for="distancing">Social Distancing</label><br>
        <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>